{% extends "base.html" %}

{% block content %}
<div class="architect-container">
    <div class="architect-form-container">
        <form method="POST" action="/architect" class="architect-input-form">
            <!-- Other form groups -->
            <div class="architect-form-group">
                <label for="show_tower">Show WTG</label>
                <input type="checkbox" id="show_tower" name="show_tower" {% if defaults.show_tower %}checked{% endif %} onchange="toggleTowerInputs()">
            </div>
            <div class="architect-form-group">
                <label for="rna_cog">RNA CoG</label>
                <input type="text" id="rna_cog" name="rna_cog" value="{{ defaults.rna_cog }}">
            </div>
            <div class="architect-form-group">
                <label for="moment_interface_del">Moment interface</label>
                <input type="text" id="moment_interface_del" name="moment_interface_del" value="{{ defaults.moment_interface_del }}">
            </div>
            <div class="architect-form-group">
                <label for="shear_interface_del">Shear interface</label>
                <input type="text" id="shear_interface_del" name="shear_interface_del" value="{{ defaults.shear_interface_del }}">
            </div>
            <div class="architect-form-group">
                <label for="interface_elev">Interface elevation:</label>
                <input type="text" id="interface_elev" name="interface_elev" value="{{ defaults.interface_elev }}">
            </div>
            <div class="architect-form-group">
                <label for="water_depth">Water depth (rel LAT)</label>
                <input type="text" id="water_depth" name="water_depth" value="{{ defaults.water_depth }}">
            </div>
            <div class="architect-form-group">
                <label for="msl">MSL</label>
                <input type="text" id="msl" name="msl" value="{{ defaults.msl }}">
            </div>
            <div class="architect-form-group">
                <label for="splash_lower">SZ Lower</label>
                <input type="text" id="splash_lower" name="splash_lower" value="{{ defaults.splash_lower }}">
            </div>
            <div class="architect-form-group">
                <label for="splash_upper">SZ Upper</label>
                <input type="text" id="splash_upper" name="splash_upper" value="{{ defaults.splash_upper }}">
            </div>
            <div class="architect-form-group">
                <label for="tp_btm">TP Bottom</label>
                <input type="text" id="tp_btm" name="tp_btm" value="{{ defaults.tp_btm }}">
            </div>
            <div class="architect-form-group">
                <label for="tp_width">TP Width</label>
                <input type="text" id="tp_width" name="tp_width" value="{{ defaults.tp_width }}">
            </div>
            <div class="architect-form-group">
                <label for="jacket_footprint">Jacket Footprint</label>
                <input type="text" id="jacket_footprint" name="jacket_footprint" value="{{ defaults.jacket_footprint }}">
            </div>
            <div class="architect-form-group">
                <label for="stickup">Stickup</label>
                <input type="text" id="stickup" name="stickup" value="{{ defaults.stickup }}">
            </div>
            <div class="architect-form-group">
                <label for="tp_btm_k1_voffset">TP Bottom K1 Voffset</label>
                <input type="text" id="tp_btm_k1_voffset" name="tp_btm_k1_voffset" value="{{ defaults.tp_btm_k1_voffset }}">
            </div>
            <div class="architect-form-group">
                <label for="btm_vert_leg_length">Bottom V leg length:</label>
                <input type="text" id="btm_vert_leg_length" name="btm_vert_leg_length" value="{{ defaults.btm_vert_leg_length }}">
            </div>
            <div class="architect-form-group">
                <label for="n_bays">No. bays:</label>
                <input type="text" id="n_bays" name="n_bays" value="{{ defaults.n_bays }}" oninput="generateBayInputs(); updatePlot();">
            </div>
            <div id="bay_heights_container" class="architect-form-group">
                <!-- Bay heights inputs will be generated here -->
            </div>
            <div class="architect-form-group">
                <label for="single_batter">Single batter</label>
                <input type="checkbox" id="single_batter" name="single_batter" {% if defaults.single_tower %}checked{% endif %} onchange="toggleBatterInputs()">
            </div>
            <div class="architect-form-group">
                <label for="batter_1_theta">Batter 1 Theta</label>
                <input type="text" id="batter_1_theta" name="batter_1_theta" value="{{ defaults.batter_1_theta }}">
            </div>
            <div class="architect-form-group">
                <label for="batter_1_elev">Batter 1 Elevation</label>
                <input type="text" id="batter_1_elev" name="batter_1_elev" value="{{ defaults.batter_1_elev }}">
                <input type="range" id="batter_1_elev_slider" min="{{ batter_1_elev_min }}" max="{{ batter_1_elev_max }}" value="{{ defaults.batter_1_elev }}">
            </div>
            <div class="architect-form-group">
                <label for="batter_2_theta">Batter 2 Theta</label>
                <input type="text" id="batter_2_theta" name="batter_2_theta" value="{{ batter_2_theta }}" disabled>
            </div>
        </form>
    </div>
    <div class="architect-plot-container">
        <div id="plot"></div>
    </div>
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>

document.querySelectorAll('.architect-input-form input').forEach(input => {
    input.addEventListener('input', function() {
        updatePlot();
        fetchBatter2Theta();
    });
});


document.querySelectorAll('.architect-input-form input[type="range"]').forEach(slider => {
    slider.addEventListener('input', function() {
        const correspondingInput = document.getElementById(this.id.replace('_slider', ''));
        if (correspondingInput) {
            correspondingInput.value = this.value;
        }
        updatePlot();
        fetchBatter2Theta();
    });
});


document.querySelectorAll('.architect-input-form input[type="text"]').forEach(textInput => {
    textInput.addEventListener('input', function() {
        const correspondingSlider = document.getElementById(this.id + '_slider');
        if (correspondingSlider) {
            correspondingSlider.value = this.value;
        }
        updatePlot();
        fetchBatter2Theta();
    });
});


function toggleTowerInputs() {
    var showTower = document.getElementById('show_tower').checked;
    document.getElementById('rna_cog').disabled = !showTower;
    document.getElementById('moment_interface_del').disabled = !showTower;
    document.getElementById('shear_interface_del').disabled = !showTower;
    updatePlot();
}

function updatePlot() {
    const formData = new FormData(document.querySelector('.architect-input-form'));
    fetch('/architect', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        const plotJson = JSON.parse(data.plot_json);
        plotJson.layout = plotJson.layout || {};
        plotJson.layout.autosize = true;
        plotJson.layout.margin = { l: 0, r: 0, t: 0, b: 0 };
        Plotly.newPlot('plot', plotJson.data, plotJson.layout, {responsive: true});
    })
    .catch(error => console.error('Error:', error));
}


function fetchBatter2Theta() {
    const formData = new FormData(document.querySelector('.architect-input-form'));
    fetch('/architect', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        if (data.batter_2_theta !== undefined) {
            const batter2Input = document.getElementById('batter_2_theta');
            batter2Input.value = data.batter_2_theta.toFixed(3);
        }
    })
    .catch(error => console.error('Error fetching batter_2_theta:', error));
}


window.addEventListener('resize', function() {
    Plotly.Plots.resize('plot');
});


function generateBayInputs() {
    const nBays = document.getElementById('n_bays').value;
    const container = document.getElementById('bay_heights_container');
    container.innerHTML = ''; // Clear existing inputs

    const tp_btm = parseFloat(document.getElementById('tp_btm').value);
    const tp_btm_k1_voffset = parseFloat(document.getElementById('tp_btm_k1_voffset').value);
    const water_depth = parseFloat(document.getElementById('water_depth').value);
    const stickup = parseFloat(document.getElementById('stickup').value);

    const bayHeightValue = ((tp_btm - tp_btm_k1_voffset) - (-water_depth + stickup + tp_btm_k1_voffset)) / nBays;

    for (let i = 1; i <= nBays; i++) {
        const div = document.createElement('div');
        div.className = 'architect-form-group';
        const label = document.createElement('label');
        label.setAttribute('for', `bay_height_${i}`);
        label.textContent = `Bay ${i} height:`;
        const input = document.createElement('input');
        input.type = 'text';
        input.id = `bay_height_${i}`;
        input.name = `bay_height_${i}`;
        input.value = bayHeightValue.toFixed(2); // Set default value
        input.addEventListener('input', updatePlot); // Add event listener to dynamic inputs
        div.appendChild(label);
        div.appendChild(input);
        container.appendChild(div);
    }
}


function toggleBatterInputs() {
    var mbool = document.getElementById('single_batter').checked;
}


// Generate initial bay inputs based on default n_bays value
generateBayInputs();
updatePlot(); // Initial plot update with default values

</script>
{% endblock %}
