<style>

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* prevents body scrollbar */
}

.cone-info-banner {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 2px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
}

.cone-info-icon {
    font-weight: bold;
    color: #007BFF;
}

.cone-input-form {
  flex: 1;
  max-width: 300px;
  height: 100%;
  overflow: auto;
}

.form-row {
  display: flex;
  align-items: center;   /* vertically center label and input */
  margin-bottom: 8px;   /* spacing between rows */
}

.form-row label {
  width: 130px;          /* fixed label width */
  text-align: left;
}

.form-row input {
  flex: 1;               /* take remaining space */
  padding: 4px;
  box-sizing: border-box;
}

.cone-submit-button {
    padding: 12px 12px;
    font-size: 0.85rem;
    font-weight: bold;
    background-color: #28a745;
    width: 120px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
    }



</style>
