{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <p><strong>DNV-RP-C203 connection SCF calculator & design trends</strong></p>
    <div class="links">
        <p><a href="/ty_joint">TY Joint</a> efthymiou SCFs see Table B-1</p>
        <p><a href="/x_joint">X Joint</a> efthymiou SCFs see Table B-2</p>
        <p><a href="/k_joint">K Joint</a> efthymiou SCFs see Table B-3 and B-4</p>
        <p><a href="/kt_joint">KT Joint</a> efthymiou SCFs see Table B-5</p>
        <p><a href="/butt_weld_mps">Butt welds (monopiles)</a> tubular butt weld connection SCFs see Section 3.3.7</p>
        <p><a href="/placeholder">Grout materials</a> non-linear material properties to EC2 and DNV-RP-0419</p>
    </div>
{% endblock %}
