{% extends "base.html" %}

{% block title %}Butt welds (monopiles){% endblock %}

{% block content %}
<!-- image of joint at the top -->

<div class="image-container">
    <img src="{{ url_for('static', filename='joint_detailing.png') }}" alt="Header Image" class="header-image" style="width: 40%; height: auto;">
</div>

<div class="image-container">
    <img src="{{ url_for('static', filename='butt_weld_mps.png') }}" alt="Header Image" class="header-image" style="width: 40%; height: auto;">
</div>


{% endblock %}