<style>

html, body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

.rrfs-info-banner {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 2px 2px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    color: #333;
}

.rrfs-info-icon {
    font-weight: bold;
    color: #007BFF;
}

.rrfs-joint-image-wrapper {
    text-align: left;
    margin-bottom: 20px;
}

.rrfs-joint-image {
    max-width: 620px;
    width: 100%;
    height: auto;
}

</style>
